.player {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.player * {
  box-sizing: border-box;
}

.player__body {
  flex: 1;
  display: flex;
  overflow-y: auto;
}
